@import '../../../styles.scss';

.charts-selector-container{
    @include white-box();
    @include dubai-font();
    padding: 20px;
    display: flex;
}

.charts-selector-container__left-side{
    width: 300px;
    flex-shrink: 0;
}

.charts-selector-container__right-side{
    width: calc(70% - 5px);
    margin-left: 5px;
    flex-shrink: 1;
}

/* Media Query */
$breakpoint-tablets: 874px;

@media (max-width: $breakpoint-tablets) {
    .charts-selector-container{
        flex-wrap: wrap;
    }
    .charts-selector-container__left-side{
        width: 100%;
    }
    .charts-selector-container__right-side{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
    }
}


