@import '../../../variables';

.active-chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.active-chart-container__active-chart{
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
}

.active-chart-container__active-chart__text{
    width: 100%;
    text-align: center;
    margin-top: -100px;
}

.no-active-chart-container{
    @extend .active-chart-container;
    font-size: 25px;
    color: $black;
    text-align: center;
}

/* Media Query */
$breakpoint-mobiles: 874px;
@media (max-width: $breakpoint-mobiles) {
    .active-chart-container__active-chart__text{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}