.chart-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: 400px;
}

.chart-list-container__chart-container{
    width: calc(50% - 20px);
    margin: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Media Query */
$breakpoint-tablets: 874px;

@media (max-width: $breakpoint-tablets) {
    .chart-list-container{
        display: block;
        white-space:nowrap;
        width: 100%;
        overflow-x: auto;
        height: 180px;
    }
    .chart-list-container__chart-container{
        display: inline-block;
        width: 100px;
    }
}