/* Variables */

/* Colors */
$dark-blue: #130f5d;
$light-blue: #4745ce;
$white: #f9f8fa;
$gray: #dfdfdf;
$black: #77787a;
$violet: #433BA5;
/* Properties */
$box-radius: 6px;

/* Public Styles */
body{
    background: $gray;
}
