<div class="dashboard">
    
    <div class="left-side">
        <app-leftsidenav></app-leftsidenav>
    </div>
    
    <div class="right-side">
        
        <app-nav></app-nav>
        
        <app-pagetitle [pageTitle]="'Dashboard'"></app-pagetitle>
        
        <div class="main-container">
            
            <div class="main-container__left-side" @fadeInRight>
                <app-chartsmenu></app-chartsmenu>
            </div>
            
            <div class="main-container__right-side" @fadeInLeft>
                <app-chartsselector></app-chartsselector>
            </div>
        
        </div>
    
    </div>

</div>